body {
    height: 100vh;
}

#menuOption {

    position: fixed;
    top: 1%;
    left: 2%;

}

#tools button {

    background: none;
    border: none;
    padding: 0%;
}

#tools {

    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    top: 5%;
    left: 1.5rem;


}



main {
    height: 100%;
    width: 100%;
}

#board-game {

    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(50, 3rem);
    grid-template-rows: repeat(20, 3rem);
}




